/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background_image);
  background-color: var(--background_color);
  font-family: "IBM Plex mono", monospace;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 100vh;
  padding: 0 10px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-height: 668px;
  height: 100vh;
  margin-top: 10px;
  gap: 67px;
}

.rec_decor {
  position: absolute;
  font-size: var(--main_text_size);
  text-transform: uppercase;
  line-height: 139%;
  text-align: center;
  color: var(--decor_button_color);
  right: 28px;
}

.header__theme-menu {
  padding-top: 62px;
  justify-items: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.header__theme-menu-button {
  color: var(--decor_button_color);
  background-color: transparent;
  font-size: var(--main_text_size);
  text-align: center;
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 0 10px;
  min-width: 70px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor_button_color);
}

.header_info-title {
  font-size: var(--title_text_size);
  color: var(--title_color);
  font-weight: var(--text_bold);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.header_info-text {
  color: var(--accent-color_text);
  font-size: var(--main_text_size);
  background-color: var(--accent-color);
  font-weight: var(--text_bold);
  line-height: 130%;
  margin-top: 55px;
}

.section {
  margin-top: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
}

.section_title {
  font-weight: var(--text_bold);
  font-size: var(--main_text_size);
  line-height: 130%;
  color: var(--sub_title);
  margin-bottom: 20px;
}

.list_item-title {
  font-weight: var(--text_bold);
  font-size: var(--main_text_size);
  line-height: 130%;
  color: var(--accent-color_text);
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.list_item-text {
  font-size: var(--main_text_size);
  color: var(--main_text_color);
  line-height: 130%;
  margin-bottom: 20px;
}

.list_item-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.mb-section {
  margin-bottom: 18px;
}

.title_regular {
  font-weight: var(--text_regular);
}

.main_gallery {
  margin-top: 28px;
}

.gallery {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.gallery_img {
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  font-size: var(--title_text_size);
  color: var(--title_color);
  font-weight: var(--text_bold);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.arrow::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--decor_button_color);
  border-top: 1px solid var(--decor_button_color);
  right: 0;
  top: 0;
}

.arrow::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decor_button_color);
  border-bottom: 1px solid var(--decor_button_color);
  left: 0;
  bottom: 20px;
}

.red_point::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
}

/* Hover, focus эффекты  */
.header__theme-menu-button:hover {
  border: var(--border_button);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decor_button_color);
}

.list_item-link:hover {
  text-decoration: underline;
  text-shadow: none;
}

.list_item-link:focus-visible {
  outline: 1px solid var(--main_text_color);
}

@media (width >= 768px) {
  :root {
    --title_text_size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    padding: 0;
  }

  .header {
    min-height: 1024px;
    margin-top: 20px;
  }

  .header__theme-menu {
    padding-top: 170px;
    margin-right: 20px;
  }

  .header_info {
    margin-top: 110px;
  }

  .header_info-text {
    justify-self: end;
    max-width: 364px;
    margin-top: 160px;
    margin-right: 20px;
  }

  .rec_decor {
    right: 48px;
  }

  .section {
    margin: 40px 20px 0 20px;
    gap: 60px;
  }

  .section_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .section-why {
    gap: 40px;
  }

  .section-why .list {
    grid-column: 2/4;
  }

  .section-causes {
    gap: 20px;
  }

  .section-causes .list {
    grid-column: 1/4;
  }

  .section-advices {
    gap: 20px;
    grid-template-columns: auto 1fr;
  }

  .section-advices .section_title {
    max-width: 236px;
    width: 100%;
  }

  .section-advices article {
    grid-column: 2/3;
  }

  .section_title {
    margin-bottom: 0;
  }

  .section_gallery .list_item-title {
    grid-column: 1/4;
  }

  .gallery {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .gallery_img {
    display: block;
    height: 100%;
  }

  .gallery_block_one {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .gallery_block_two {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery_block_three {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery_block_four {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery_block_five {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    margin-top: 80px;
    min-height: 1024px;
  }

  .footer .footer_text {
    margin-bottom: 35px;
  }

  .arrow::before {
    right: 20px;
  }

  .arrow::after {
    left: 20px;
    bottom: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    gap: 274px;
  }

  .header__theme-menu {
    padding: 0;
    margin: 0 auto;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .header__theme-menu-item {
    padding: 0 5px;
  }

  .header_info {
    margin: 0;
  }

  .header_info-text {
    max-width: 491px;
    width: 100%;
    margin-top: 114px;
  }

  .section-why {
    gap: 20px;
  }

  .section-causes .list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .section-advices .section_title {
    max-width: 315px;
    width: 100%;
  }

  .footer {
    min-height: 768px;
  }
}
