:root {
 --background_image: url("../images/cover-image-dark.png");
 --background_color: #000028 ;
 --main_text_size: 18px;
 --main_text_color: #F1B2CE;
 --accent-color_text: #000028;
 --title_text_size: 116px;
 --title_text_color: #DB00FF;
 --accent-color: #FF0070;
 --text_regular: 400;
 --text_bold: 700;   
}
 



/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
